<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dr. Amadeus Magrabi - Machine Learning, Data Science, Python, Neuroscience, Decision-Making">
    <meta name="keywords" content="Amadeus Magrabi, Machine Learning, Data Science, Python, Neuroscience, Decision-Making">
    <meta name="author" content="Amadeus Magrabi">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.amadeusmagrabi.com/">
    <meta property="og:title" content="Dr. Amadeus Magrabi">
    <meta property="og:description" content="Dr. Amadeus Magrabi - AI, Machine Learning, Data Science">
    <meta property="og:image" content="{{ url_for('static', filename='img/brain_full_r.jpg', _external=True) }}">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.amadeusmagrabi.com/">
    <meta property="twitter:title" content="Dr. Amadeus Magrabi">
    <meta property="twitter:description" content="Dr. Amadeus Magrabi - AI, Machine Learning, Data Science">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/brain_full_r.jpg', _external=True) }}">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.amadeusmagrabi.com{{ request.path }}">
    
    <title>Dr. Amadeus Magrabi | Portfolio</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
  </body>
</html>
